@model IEnumerable<YehorNET.Models.DoctorsListItemViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <a href="@ViewBag.RateSort">Rate</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentsCount)
            </td>
            <td>
                @foreach (var treat in item.Treats)
                {
                    <span>@treat</span>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id, searchListUrl = ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString })
            </td>
        </tr>
}
    </tbody>
</table>
